[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
  ignore = dirty
[submodule ".dotbot-plugins/dotbot-asdf"]
	path = .dotbot-plugins/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
	ignore = dirty
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
