[Unit]
# Need https://git.sr.ht/~whynothugo/systemd-lock-handler
Description=Screen locker for Wayland
OnSuccess=unlock.target
PartOf=lock.target
After=lock.target

[Service]
Type=forking
ExecStart=/usr/bin/swaylock -f --color 000000 --layout-text-color ffffff --text-color ffffff
ExecStopPost=/usr/bin/loginctl unlock-session
Restart=on-failure

[Install]
WantedBy=lock.target
