! Base16 Apprentice
! Author: romainl

! base00: #262626
! base01: #303030
! base02: #333333
! base03: #6c6c6c
! base04: #787878
! base05: #bcbcbc
! base06: #c9c9c9
! base07: #ffffff
! base08: #5f8787
! base09: #ff8700
! base0A: #5f8787
! base0B: #87af87
! base0C: #5f875f
! base0D: #ffffaf
! base0E: #87afd7
! base0F: #5f87af

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303030, #303030, #262626

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303030, #bcbcbc, #303030, #303030, #ffffff
rofi.color-active:  #303030, #ffffaf, #303030, #303030, #ffffaf
rofi.color-urgent:  #303030, #5f8787, #303030, #303030, #5f8787

! Set the desired separator style
rofi.separator-style: solid
